<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horas Trabajadas</title>
    <link rel="stylesheet" href="/styles/horasTrabajadas.css">
</head>

<body>
    <div class="container">
    <a href="/empleados" class="btn-volver">Volver</a>
        <h1>Horas Trabajadas de {{empleadoExiste.nombre}} {{empleadoExiste.apellido}}</h1>
        <form action="/ver-horas" method="GET" class="mes-form">
            <label for="mes">Seleccionar mes:</label>
            <input type="month" id="mes" name="mes" >
            <button type="submit">Ver</button>
        </form>
        <h2>Mes visualizado: {{mes_visualizado}}</h2>
        <h3>Total de horas mensuales: {{horasPorEmpleado.total_mensual}}</h3>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Horas Trabajadas</th>
                </tr>
            </thead>
            <tbody>
                {{#each horas}}
                <tr>
                    <td>{{this.fecha}}</td>
                    <td>{{this.horas_trabajadas}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>