<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Registro Financiero</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Registro Financiero #{{respuesta.id}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Categoría: {{respuesta.categoria}}</h5>
        <p class="card-text"><strong>Descripción:</strong> {{respuesta.descripcion}}</p>
        <p class="card-text"><strong>Cantidad:</strong> ${{respuesta.cantidad}}</p>
        <p class="card-text"><strong>Fecha:</strong> {{respuesta.fecha}}</p>
        <p class="card-text"><strong>Egreso o ingreso:</strong> {{respuesta.tipo}}</p>
        <a href="/gestion/mostrarVarios" class="btn-volver ">Volver</a>

      </div>
    </div>
  </div>
</body>
</html>
