<!-- Formulario para buscar un empleado -->
        <a href="/empleados" class="btn-volver">Volver</a>

        <form action="/empleados/verEmpleados" method="GET" class="d-flex flex-column align-items-start">
    <h2>Buscar Empleado</h2>
    <div class="d-flex align-items-center mb-2">
        <label for="filtro" class="me-2">Filtrar por:</label>
        <select id="filtro" name="filtro" class="form-select-sm me-2">
            <option value="">-- SELECIONAR --</option>
            <option value="id_empleado">ID</option>
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="cargo">Cargo</option>
            <!-- Agrega más opciones de filtro según sea necesario -->
        </select>
        <input type="text" id="busqueda" name="busqueda" class="me-2">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>


        <!-- Lista de empleados -->
        <h2>Lista de Empleados</h2>
        <table class="paleBlueRows">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>CARGO</th>
                    <th>ID DE EMPLEADO</th>
                    <th>FECHA DE INICIO</th>
                    <th>PRECIO POR HORA</th>
                </tr>
            </thead>
            <tbody>
                {{#each respuesta}}
                {{#with this}}
                <tr>
                    <td><a href=verEmpleados?filtro=nombre&busqueda={{nombre}}>{{nombre}}</td></a>
                    <td>{{apellido}}</td>
                    <td>{{cargo}}</td>
                    <td>{{id_empleado}}</td>
                    <td>{{fecha_inicio}}</td>
                    <td>{{precio_por_hora}}</td>
                </tr>
                {{/with}}
                {{/each}}
            </tbody>
            </tr>
        </table>